.header {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header nav a {
  font-weight: 300;
  font: normal 16px/24px Varela Round;
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 20px 20px;
  font-size: 14px;
  display: inline-block;
  transition: background 200ms linear,color 200ms linear,border 200ms linear;
}

.header nav a:hover {
  color: #cb7152;
}

.banner-image {
  background: rgb(204, 204, 204);
  height: 400px;
}

.about-us-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about-us-nav .about-us-menu {
  padding: 10px 20px;
  cursor: pointer;
  transition: color .3s;
  color: black;
}

.about-us-nav .about-us-menu span {
  font: normal 24px/32px Libre Baskerville;
  border-bottom: solid 3px transparent;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1;
  padding: 10px 0;
  transition: border-color .3s;
}

.about-us-nav .about-us-menu:hover {
  color: #cb7152;
}

.about-us-nav .about-us-menu.active {
  color: #cb7152;
}

.about-us-nav .about-us-menu:hover span {
  border-color: #cb7152;
}

.about-us-nav .about-us-menu.active span {
  border-color: #cb7152;
}

.section-about-us-welcome {
  margin: 50px 0 70px 0;
}

.section-about-us-welcome .welcome-heading {
  display: block;
  text-align: center;
  font: normal 40px/50px Libre Baskerville;
  margin-top: 10px;
}

.about-us-icon-chef {
  display: block;
  margin: auto;
  max-width: 120px;
}

#page-the-story .story-item {
  text-align: center;
  width: calc((100% / 3) - 30px);
}

#page-the-story .story-time {
  color: #cb7152;
  font: normal 24px/32px Libre Baskerville;
  margin-bottom: 12px;
}

.story-paragraphs-wrapper {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: space-between;
}

.story-paragraph {
  font: normal 16px/24px Varela Round;
}

.story-founder-quote-container {
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.story-founder-quote {
  font: normal 16px/24px Varela Round;
  margin-top: 50px;
}

.story-founder-name {
  font: normal 16px/24px Varela Round;
  margin-top: 20px;
}
